#
# SPDX-FileCopyrightText: Copyright © 2023 Idiap Research Institute <contact@idiap.ch>
#
# SPDX-FileContributor: Fabio Fehr <fabio.fehr@idiap.ch>
#
# SPDX-License-Identifier: GPL-3.0-only
#

.idea
.vscode/
.env
wandb/
data/*
outputs/*
experiments/*
__pycache__
dataModules/__pycache__/
models/__pycache__/
cache/
tmp*
